<% layout('layouts/boilerplate') %>

    <div class="container">
        <h1 class="display-1 text-center">Academic Departments</h1>
        <div class="card align-items-center border-white my-4">
            <div class="list-group col-8">
                <a class="text-center bg-success border-success list-group-item list-group-item-action active disabled lead"
                    aria-current="true">
                    <strong>Click a department to view its courses</strong>
                </a>
                <% for (let code of codes) { %>
                    <a href="/departments/<%=code%>" class="list-group-item list-group-item-action lead">
                        <%= codesToDepts[code] %> - <%= code %>
                    </a>
                    <% } %>
            </div>
        </div>
    </div>
